@{
    ViewData["Title"] = "Revisions";
}

@model List<Announcement>;

<h2>@ViewData["Title"]</h2>
<table class="table table-striped-columns bg-light rounded-3 overflow-hidden mt-2">
	<thead>
		<tr>
			<th>Title</th>
			<th>Content</th>
			<th>Category</th>
			<th>Importance</th>
			<th>Created At</th>
			<th>Last Update</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var announcement in Model)
		{
			<tr>
				<td>@announcement.Title</td>
				<td>@announcement.Content</td>
				<td>@announcement.Category</td>
				<td>@announcement.Importance</td>
				<td>@announcement.CreatedAt</td>
				<td>@announcement.LastUpdatedAt</td>
				<td class="d-inline-flex gap-2">
					<form asp-controller="announcement" asp-action="DeleteAnnouncement" asp-route-id="@announcement.AnnouncementId">
						<button type="submit" class="btn btn-danger"><span class="bi bi-trash"></span></button>
					</form>
					<form asp-controller="announcement" asp-action="EditAnnouncementForm" asp-route-id="@announcement.AnnouncementId">
						<button type="submit" class="btn btn-info"><i class="bi bi-pencil"></i></button>
					</form>
					<form asp-controller="announcement" asp-action="SubmitRevised" asp-route-id="@announcement.AnnouncementId">
						<button type="submit" class="btn btn-success"><i class="bi bi-check2-circle"></i></button>
					</form>
				</td>
			</tr>
		}
	</tbody>
</table>