@{
	ViewData["Title"] = "All Announcements";
}

@model List<Announcement>;

@foreach(var announcement in Model)
{
	<div>
		<h2>@announcement.Title</h2>
		<span>@announcement.CreatedAt</span>
		<h4>@announcement.Excerpt</h4>
		<span>@announcement.AnnouncementStartDateTime</span><span>@announcement.AnnouncementEndDateTime</span>
		<p>@announcement.Author.FirstName @announcement.Author.LastName</p>
	</div>
}